<div>
  <div>&copy; 2023-<%= Time.current.year %><a href="https://raw.githubusercontent.com/flbulgarelli/miyuki/refs/heads/main/AUTHORS" class="mu-org-link"><i class="fa fa-solid fa-snowflake"></i> Miyuki</a></div>
  <div>&copy; 2015-<%= Time.current.year %><a href="https://mumuki.org/" class="mu-org-link"><span class="da da-mumuki-circle"></span> Mumuki</a></div>
</div>